:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    --input-bg: #f0f0f0;
    --input-text: #333333;
    --button-bg: #007bff;
    --button-text: #ffffff;
    --popup-shadow: 0 0 20px rgba(0,0,0,0.1);
    --close-button-color: #666666;
}

[data-theme="dark"] {
    --bg-color: #333333;
    --text-color: #f0f0f0;
    --input-bg: #555555;
    --input-text: #f0f0f0;
    --button-bg: #0056b3;
    --button-text: #ffffff;
    --popup-shadow: 0 0 20px rgba(255,255,255,0.1);
    --close-button-color: #aaaaaa;
}
